#h1{
    text-align: center;
    font-size: 200px;
}

.hidden {
    display: none;
}

canvas {
    background-color: lightgreen;
    image-rendering: pixelated;
    border-radius: 3px;
    border-color: black;
}