#h1{
    text-align: center;
    font-size: 200px;
}


/* #player{
    width: 50px;
    height: 50px;
    background-color: red;
    position: relative;
}

#gameBoard{
    text-align: center;
    width: 1000px;
    height: 500px;
    background-color: lightgreen;
}

#myDiv{
    text-align: center;
    width: 1000px;
    height: 500px;
    background-color: lightgreen;
}
*/
.hidden {
    display: none;
}

canvas {
    background-color: lightgreen;
    image-rendering: pixelated;
    border-radius: 3px;
    border-color: black;
}